.converter-container {
    width: 100%;
    margin-top: 0; 
  }

  .click-li:hover{
    font-weight: 500;
  }
  

  .click-li {
   cursor: pointer;
   max-width: 150px;
  }

  .mobile-title{
    justify-content: space-between;
    display: flex;
  }
  

  @media screen and (max-width: 767px) {
    .converter-container {
      margin-top: 50px;
    }
    .mobile-title{
      justify-content: none;
      display: block;
    }
  }
  