/* Mobile styles (applies to all screen sizes) */
.main-container {
  width: 70%;
  flex-direction: column;
  margin: 0 auto;
}

/* Desktop styles (applies to screens wider than 768px) */
@media screen and (min-width: 768px) {
  .main-container {
    width: 70%;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
  }
}

@media screen and (max-width: 769px) {
  .main-container {
    width: 100%;
  }
}